/*headlines*/
    h1 {
      font-size: 3em;
      font-family: 'Baskerville', serif;
    }
/*subheadlines*/
    h2 {
      font-size: 1.5em;
      font-family: 'Baskerville', serif;
    }
/*paragraphs*/
  p {
    font-size: 12px;
    font-family: 'Helvetica', arial, sans-serif;
  }

.banner {
  height: 10%;
  width: 100%;
  overflow: hidden;
  border: solid;
  background-color: d8d8d8;
}

.bannerimage {
  width: 100%;
  background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.dezeen.com%2F2019%2F11%2F12%2Fburning-man-carbon-negative-2030%2F&psig=AOvVaw3PvFBCWX5eUJqFXGMucrny&ust=1585851355958000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCLDi-ufqx-gCFQAAAAAdAAAAABAD);
  height: 5%;
}

#container {
width: 100%;
max-width: 900px;
column-count: 1;
text-align: center;
margin: 0 auto;
}

#byline {
  font-size: 10px;
  font-family: 'Helvetica', arial, sans-serif;
}

/*links*/
#Links {
  display: inline;
  text-align: center;
}
